/* h1{
    background-color: red;
}

h2{
    background-color: rgb(187, 240, 41);
} */

/* hex code or hexadecimal code */
/* 0-9 - 89, 67, 100, 555, 700 --- Decimal values */
/* 0-9, A-F - 000000, ffffff, aaaaaa, 5454ab */

/* h3{
    background-color: #b45858;
} */


#oldperson{
    background-color: red;
}